<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.modular.report.dao.ReportDao">

    <sql id="dateFormatAndGroup">
        <choose>
            <when test="dimensionType !=null and dimensionType.name() == 'YEAR'">
                SUBSTR(a.bill_date, 1, 4)
            </when>
            <when test="dimensionType !=null and dimensionType.name() == 'MONTH'">
                SUBSTR(a.bill_date, 1, 7)
            </when>
            <when test="dimensionType !=null and dimensionType.name() == 'DAY'">
                SUBSTR(a.bill_date, 1, 10)
            </when>
            <otherwise>
                ${groupColumn}
            </otherwise>
        </choose>
    </sql>

    <sql id="dateFormatAndGroupColumn">
        <choose>
            <when test="dimensionType !=null and dimensionType.name() == 'YEAR'">
                SUBSTR(a.bill_date, 1, 4)
            </when>
            <when test="dimensionType !=null and dimensionType.name() == 'MONTH'">
                SUBSTR(a.bill_date, 1, 7)
            </when>
            <when test="dimensionType !=null and dimensionType.name() == 'DAY'">
                SUBSTR(a.bill_date, 1, 10)
            </when>
            <otherwise>
                CONCAT(DATE_FORMAT(MIN(a.`bill_date`), '%Y-%m-%d'), ' - ', DATE_FORMAT(MAX(a.`bill_date`), '%Y-%m-%d'))
            </otherwise>
        </choose>
    </sql>

    <select id="sReconCustomer" resultType="java.util.Map">
        SELECT
            <include refid="dateFormatAndGroupColumn"/>                                                             AS billRegion,
            group_concat(distinct a.`shop_no`)                                                                      AS shopNo,
            group_concat(distinct a.`consumer_id`)                                                                  AS instituteId,
            group_concat(distinct a.`consumer_name`)                                                                AS instituteName,
            group_concat(distinct a.`bill_no`)                                                                      AS billNo,
            SUM(a.`total_amount`)                                                                                   AS totalAmount,
            SUM(a.`payment_amount`)                                                                                 AS paymentAmount,
            SUM(a.`total_amount`) - SUM(a.`payment_amount`)                                                         AS debtAmount,
            SUM(a.`cost_amount`)                                                                                    AS costAmount,
            SUM(a.`total_amount`) - SUM(a.`cost_amount`)                                                            AS profitAmount
        FROM
            se_order a
        <trim prefix="where 0=1 or (" prefixOverrides="and|or" suffix=")">
            <if test="instituteId != null and instituteId != ''">and consumer_id = #{instituteId}</if>
            <if test="start != null">and bill_date >= #{start}</if>
            <if test="end != null"> <![CDATA[ and bill_date <= #{end} ]]> </if>
            and audit_status = 'YES'
        </trim>
        GROUP BY
            <include refid="dateFormatAndGroup">
                <property name="groupColumn" value="consumer_id"/>
            </include>
            <if test="showDebt != null and showDebt == 0">HAVING debtAmount > 0</if>
        ORDER BY
            <include refid="dateFormatAndGroup">
                <property name="groupColumn" value="debtAmount"/>
            </include> desc
    </select>

    <select id="sReconVendor" resultType="java.util.Map">
        SELECT
            <include refid="dateFormatAndGroupColumn"/>                                                             AS billRegion,
            group_concat(distinct a.`shop_no`)                                                                      AS shopNo,
            group_concat(distinct a.`vendor_id`)                                                                    AS instituteId,
            group_concat(distinct a.`vendor_name`)                                                                  AS instituteName,
            group_concat(distinct a.`bill_no`)                                                                      AS billNo,
            SUM(a.`total_amount`)                                                                                   AS totalAmount,
            SUM(a.`payment_amount`)                                                                                 AS paymentAmount,
            SUM(a.`total_amount`) - SUM(a.`payment_amount`)                                                         AS debtAmount
        FROM
            po_order a
        <trim prefix="where 0=1 or (" prefixOverrides="and|or" suffix=")">
            <if test="instituteId != null and instituteId != ''"> and vendor_id = #{instituteId} </if>
            <if test="start != null"> and bill_date >= #{start} </if>
            <if test="end != null"> <![CDATA[ and bill_date <= #{end} ]]> </if>
            and audit_status = 'YES'
        </trim>
        GROUP BY
            <include refid="dateFormatAndGroup">
                <property name="groupColumn" value="vendor_id"/>
            </include>
            <if test="showDebt != null and showDebt == 0">HAVING debtAmount > 0</if>
        ORDER BY
            <include refid="dateFormatAndGroup">
                <property name="groupColumn" value="debtAmount"/>
            </include> desc
    </select>

    <select id="saleProduct" resultType="java.util.Map">
        SELECT
            a.`shop_no`                                    as shopNo,
            a.`entry_id`                                   as entryId,
            a.`entry_name`                                 as entryName,
            a.`entry_unit`                                 as entryUnit,
            SUM(a.`total_qty`)                             AS totalQty,
            AVG(a.`entry_price`)                           AS entryPrice,
            SUM(a.`cost_amount`)                           AS costAmount,
            SUM(a.`entry_amount`)                          AS entryAmount,
            COUNT(0)                                       AS billCount,
            (SUM(a.`entry_amount`) - SUM(a.`cost_amount`)) as billProfit,
            DATE_FORMAT(MIN(b.`bill_date`), '%Y-%m-%d')       startDate,
            DATE_FORMAT(MAX(b.`bill_date`), '%Y-%m-%d')       endDate
        FROM
            `se_order_entry`     a
            LEFT JOIN `se_order` b ON a.`bill_no` = b.`bill_no`
        <trim prefix="where 0=1 or (" prefixOverrides="and|or" suffix=")">
            <if test="start != null"> and b.bill_date >= #{start} </if>
            <if test="end != null"> <![CDATA[ and b.bill_date <= #{end} ]]> </if>
            and b.audit_status = 'YES'
        </trim>
        GROUP BY
            a.`entry_id`
        ORDER BY
            SUM(a.`entry_amount`) DESC
    </select>

</mapper>