<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.report.dao.WHReportDao">

	<select id="pBalance" resultType="java.util.Map">
        SELECT
            aa.`no`, aa.`name`, aa.`unit`, aa.`type`, aa.`brand`, aa.`bar_code`, bb.bill_type, bb.stock_no, bb.stock_name, AVG(bb.entry_price) AS `entry_price`, SUM(bb.total_qty) AS `total_qty`, bb.entry_unit, SUM(bb.entry_amount) AS `entry_amount`, SUM(bb.total_amount) AS `total_amount`
        FROM  (
            SELECT po.`bill_type`, pe.`stock_no`, pe.`stock_name`, pe.`entry_id`, pe.`entry_price`,pe.`total_qty`,pe.`entry_unit`,pe.`entry_amount`,pe.`total_amount`, pe.`create_time` FROM po_order po LEFT JOIN po_order_entry pe ON po.`bill_no`=pe.`bill_no` WHERE po.`audit_status`='YES'
                    UNION ALL
            SELECT so.`bill_type`, se.`stock_no`, se.`stock_name`, se.`entry_id`, se.`entry_price`,se.`total_qty`,se.`entry_unit`,se.`entry_amount`,se.`total_amount`, se.`create_time` FROM se_order so LEFT JOIN se_order_entry se ON so.`bill_no`=se.`bill_no` WHERE so.`audit_status`='YES'
                    UNION ALL
            SELECT wo.`bill_type`, we.`stock_no`, we.`stock_name`, we.`entry_id`, we.`entry_price`,we.`total_qty`,we.`entry_unit`,we.`entry_amount`,we.`entry_amount` AS `total_amount`,we.`create_time` FROM wh_order wo LEFT JOIN wh_order_entry we ON wo.`bill_no`=we.`bill_no` WHERE wo.`audit_status`='YES'
        ) bb LEFT JOIN data_product aa ON aa.`no`=bb.entry_id
        <trim prefix="where 0=1 or (" prefixOverrides="and|or" suffix=")">
            <if test="toDate != null and toDate != ''"> and bb.create_time <![CDATA[ <= ]]> #{toDate} </if>
            <if test="status != null and status != ''"> and aa.status = #{status} </if>
            <if test="type != null and type != ''"> and aa.type = #{type} </if>
            <if test="stock != null and stock != ''"> and bb.stock_no = #{stock} </if>
            <if test="product != null and product != ''"> and aa.no = #{product} </if>
            <if test="types != null"> and aa.type in
                <foreach collection="types" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="stocks != null"> and bb.stock_no in
                <foreach collection="stocks" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="products != null"> and aa.no in
                <foreach collection="products" index="index" item="item" open="(" separator="," close=")"> #{item}</foreach>
            </if>
            <if test="searchText != null and searchText != ''">
                and ( aa.no like '%${searchText}%' or aa.name like '%${searchText}%')
            </if>
        </trim>
        GROUP BY aa.no, bb.bill_type, bb.stock_no
        <choose>
            <when test="sort != null and sort.trim() != ''"> order by ${sort} ${order} </when>
			<otherwise> order by aa.id desc </otherwise>
        </choose>
		<if test="offset != null and limit != null"> limit #{offset}, #{limit} </if>
	</select>

</mapper>