<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class=" ">
    <div class="col-sm-12">
        <div class="ibox">

            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div data-toggle="buttons" class="columns btn-group pull-left m-r-sm">
                        <button class="btn btn-primary" type="button" onclick="search('CUSTOMER')"><i class=""></i> 客户</button>
                        <button class="btn btn-primary" type="button" onclick="search('VENDOR')"><i class=""></i> 供应商</button>
                        <button class="btn btn-primary" type="button" onclick="search('PRODUCT')"><i class=""></i> 商品</button>
                        <button class="btn btn-primary" type="button" onclick="search('PAYMENT')"><i class=""></i> 支出</button>
                        <button class="btn btn-primary" type="button" onclick="search('INCOME')"><i class=""></i> 收入</button>
                        <button class="btn btn-primary" type="button" onclick="search('ACCOUNT')"><i class=""></i> 帐户</button>
                    </div>

                    <form id="search">
                        <div class="columns pull-left col-md-2 nopadding">
                            <input type="text" class="form-control" id="searchText" name="searchText" placeholder="请输入商品编号或名称" autocomplete="off">
                        </div>
                    </form>

                    <div class="columns pull-left tool-pull-left">
                        <button class="btn btn-success" onclick="search()">查询</button>
                    </div>

                    <div class="columns pull-right">
                        <button shiro:hasPermission="data:category:add" type="button" class="btn btn-primary" onclick="add(0)">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="data:category:remove" type="button" class="btn btn-info" onclick="search()">
                            <i class="fa fa-refresh" aria-hidden="true"></i>刷新
                        </button>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="exampleTable" data-mobile-responsive="true">
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_add_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="data:category:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="data:category:add">
    <script type="text/javascript">
        s_add_h = '';
    </script>
</div>
<div shiro:hasPermission="data:category:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="data:category:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/data/category/category.js"></script>
</body>
</html>