<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.wh.dao.WHOrderDao">

	<sql id="whereSql">
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="billDate != null and billDate != ''"> and bill_date = #{billDate} </if>
			<if test="billNo != null and billNo != ''"> and bill_no = #{billNo} </if>
			<if test="billType != null and billType != ''"> and bill_type = #{billType} </if>
			<if test="serviceType != null and serviceType != ''"> and service_type = #{serviceType} </if>
			<if test="debtorId != null and debtorId != ''"> and debtor_id = #{debtorId} </if>
			<if test="debtorName != null and debtorName != ''"> and debtor_name = #{debtorName} </if>
			<if test="totalQty != null and totalQty != ''"> and total_qty = #{totalQty} </if>
			<if test="entryAmount != null and entryAmount != ''"> and entry_amount = #{entryAmount} </if>
			<if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
			<if test="auditId != null and auditId != ''"> and audit_id = #{auditId} </if>
			<if test="auditName != null and auditName != ''"> and audit_name = #{auditName} </if>
			<if test="remark != null and remark != ''"> and remark = #{remark} </if>
			<if test="operatorId != null and operatorId != ''"> and operator_id = #{operatorId} </if>
			<if test="operatorName != null and operatorName != ''"> and operator_name = #{operatorName} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="searchText != null and searchText != ''"> and ( bill_no like '%${searchText}%' or  debtor_name like '%${searchText}%' or remark like '%${searchText}%')</if>
			<if test="start != null and start != ''"> and bill_date >= #{start} </if>
			<if test="end != null and end != ''"> <![CDATA[ and bill_date <= #{end} ]]> </if>
			<if test="audit != null and audit != ''"> and audit_status = #{audit} </if>
			<if test="statusNot != null and statusNot.size() > 0"> and status not in
				<foreach item="status" collection="statusNot" open="(" separator="," close=")"> #{status} </foreach>
			</if>
			<if test="billNos != null and billNos.size() > 0"> and bill_no in
				<foreach item="billNo" collection="billNos" open="(" separator="," close=")"> #{billNo} </foreach>
			</if>
		</where>
	</sql>
	<sql id="pageSql">
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by bill_date desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>

	<select id="get" resultType="com.bootdo.wh.domain.WHOrderDO">
		select `id`,`bill_date`,`bill_no`,`bill_type`,`service_type`,`debtor_id`,`debtor_name`,`total_qty`,`entry_amount`,`audit_status`,`audit_id`,`audit_name`,`remark`,`operator_id`,`operator_name`,`create_time`,`update_time` from wh_order where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.wh.domain.WHOrderDO">
		select `id`,`bill_date`,`bill_no`,`bill_type`,`service_type`,`debtor_id`,`debtor_name`,`total_qty`,`entry_amount`,`audit_status`,`audit_id`,`audit_name`,`remark`,`operator_id`,`operator_name`,`create_time`,`update_time` from wh_order
		<include refid="whereSql"/>
		<include refid="pageSql"/>
	</select>

	<select id="count" resultType="int">
		select count(*) from wh_order
		<include refid="whereSql"/>
	</select>

	<insert id="save" parameterType="com.bootdo.wh.domain.WHOrderDO" useGeneratedKeys="true" keyProperty="id">
		insert into wh_order
		(
			`bill_date`,`bill_no`,`bill_type`,`service_type`,`debtor_id`,`debtor_name`,`total_qty`,`entry_amount`,
			`audit_status`,`audit_id`,`audit_name`,`remark`,`operator_id`,`operator_name`
		)
		values
		(
			#{billDate},#{billNo},#{billType},#{serviceType},#{debtorId},#{debtorName},#{totalQty},#{entryAmount},
			#{auditStatus},#{auditId},#{auditName},#{remark},#{operatorId},#{operatorName}
		)
		ON DUPLICATE KEY UPDATE
		bill_date= VALUES(bill_date),bill_type= VALUES(bill_type),service_type= VALUES(service_type),debtor_id= VALUES(debtor_id),debtor_name= VALUES(debtor_name),total_qty= VALUES(total_qty),entry_amount= VALUES(entry_amount),
		audit_status= VALUES(audit_status),audit_id= VALUES(audit_id),audit_name= VALUES(audit_name),remark= VALUES(remark),operator_id= VALUES(operator_id),operator_name= VALUES(operator_name)
	</insert>

	<update id="update" parameterType="com.bootdo.wh.domain.WHOrderDO">
		update wh_order 
		<set>
			<if test="billDate != null">`bill_date` = #{billDate}, </if>
			<if test="billNo != null">`bill_no` = #{billNo}, </if>
			<if test="billType != null">`bill_type` = #{billType}, </if>
			<if test="serviceType != null"> and service_type = #{serviceType}, </if>
			<if test="debtorId != null">`debtor_id` = #{debtorId}, </if>
			<if test="debtorName != null">`debtor_name` = #{debtorName}, </if>
			<if test="totalQty != null">`total_qty` = #{totalQty}, </if>
			<if test="entryAmount != null">`entry_amount` = #{entryAmount}, </if>
			<if test="auditStatus != null">`audit_status` = #{auditStatus}, </if>
			<if test="auditId != null">`audit_id` = #{auditId}, </if>
			<if test="auditName != null">`audit_name` = #{auditName}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="operatorId != null">`operator_id` = #{operatorId}, </if>
			<if test="operatorName != null">`operator_name` = #{operatorName} </if>
		</set>
		where id = #{id}
	</update>

    <update id="audit">
        update wh_order
        <set>
            <if test="auditStatus != null">`audit_status` = #{auditStatus}, </if>
            <if test="auditId != null">`audit_id` = #{auditId}, </if>
            <if test="auditName != null">`audit_name` = #{auditName} </if>
        </set>
        <trim prefix="where 0=1 or (" prefixOverrides="and|or" suffix=")">
            <if test="billNo != null"> and bill_no = #{billNo} </if>
            <if test="auditStatus != null"> and audit_status != #{auditStatus} </if>
            <if test="ids != null and ids.size() > 0">  and id in
                <foreach item="id" collection="ids" open="(" separator="," close=")"> #{id} </foreach>
            </if>
            <if test="billNos != null and billNos.size() > 0"> and bill_no in
                <foreach item="billNo" collection="billNos" open="(" separator="," close=")"> #{billNo} </foreach>
            </if>
        </trim>
    </update>

	<delete id="remove">
		delete from wh_order where id = #{value}
	</delete>

    <delete id="delete">
        delete from wh_order
        <trim prefix="where 0=1 or (" prefixOverrides="and|or" suffix=")">
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="billDate != null and billDate != ''"> and bill_date = #{billDate} </if>
            <if test="billNo != null and billNo != ''"> and bill_no = #{billNo} </if>
            <if test="billType != null and billType != ''"> and bill_type = #{billType} </if>
            <if test="serviceType != null and serviceType != ''"> and service_type = #{serviceType} </if>
            <if test="debtorId != null and debtorId != ''"> and debtor_id = #{debtorId} </if>
            <if test="debtorName != null and debtorName != ''"> and debtor_name = #{debtorName} </if>
            <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
            <if test="auditId != null and auditId != ''"> and audit_id = #{auditId} </if>
            <if test="auditName != null and auditName != ''"> and audit_name = #{auditName} </if>
            <if test="billNos != null and billNos.size() > 0"> and bill_no in
                <foreach collection="billNos" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
    </delete>

</mapper>