<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<div class="form-group">
							<label class="col-sm-3 control-label">商品名称：</label>
							<div class="col-sm-8">
								<input id="name" name="name" type="text" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">条形码：</label>
							<div class="col-sm-8">
								<input id="barCode" name="barCode" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">所属店铺：</label>
							<div class="col-sm-8">
								<select data-placeholder="请选择" name="shopNo" id="shopNo" class="form-control" required>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">类别：</label>
							<div class="col-sm-8">
								<select data-placeholder="选择类别" name="type" id="type" class="form-control" required>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">品牌：</label>
							<div class="col-sm-8">
								<select data-placeholder="选择类别" name="brand" id="brand" class="form-control">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">单位：</label>
							<div class="col-sm-8">
								<select data-placeholder="选择类别" name="unit" id="unit" class="form-control" required>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">首选仓库：</label>
							<div class="col-sm-8">
								<select data-placeholder="选择类别" name="stockNo" id="stockNo" class="form-control" required>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">采购价：</label>
							<div class="col-sm-8">
								<input id="purchasePrice" name="purchasePrice" class="form-control" type="number" value="0" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">零售价：</label>
							<div class="col-sm-8">
								<input id="salePrice" name="salePrice" class="form-control" type="number" value="0" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">状态：</label>
							<div class="switch  col-sm-1">
								<div class="onoffswitch">
									<input id="status" name="status" checked="" type="checkbox" value="1" class="onoffswitch-checkbox">
									<label class="onoffswitch-label" for="status">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/data/product/add.js"></script>
</body>
</html>
