<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">
<div class="col-sm-12">
    <div class="ibox-body">
        <div class="fixed-table-toolbar">
            <form id="search">
                <div class="input-daterange input-group columns pull-left" style="margin-left: 5px; width: 300px;" id="datepicker">
                    <span class="input-group-addon tool-span-addon">日期：</span>
                    <input type="text" class="form-control" name="start" autocomplete="off"/>
                    <span class="input-group-addon tool-span-addon">-</span>
                    <input type="text" class="form-control" name="end" autocomplete="off"/>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="交易渠道" name="type" id="type" class="form-control" style="height: 30px; width: 100px;" multiple>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="交易账号" name="account" id="account" class="form-control" style="height: 30px; width: 100px;" multiple>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="交易方向" name="payDirect" id="payDirect" class="form-control" style="height: 30px; width: 100px;" multiple>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="交易状态" name="payStatus" id="payStatus" class="form-control" style="height: 30px; width: 100px;" multiple>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="交易类型" name="tradeClass" id="tradeClass" class="form-control" style="height: 30px; width: 100px;" multiple>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="数据来源" name="source" id="source" class="form-control" style="height: 30px; width: 100px;" multiple>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="资金用途" name="costType" id="costType" class="form-control" style="height: 30px; width: 100px;" multiple>
                    </select>
                </div>
            </form>

            <div class="columns pull-left tool-pull-left-sm">
                <button class="btn btn-success" onclick="search()">查询</button>
                <button class="btn btn-primary" id="dropz">导入</button>
                <button class="btn btn-success" onclick="exportExcel()">导出</button>
            </div>

            <div class="columns pull-right">
                <button type="button" class="btn  btn-primary" onclick="add()">
                    <i class="fa fa-plus" aria-hidden="true"></i>添加
                </button>
                <button type="button" class="btn  btn-primary" onclick="edit()">
                    <i class="fa fa-check" aria-hidden="true"></i>修改
                </button>
                <button type="button" class="btn  btn-danger" onclick="remove()">
                    <i class="fa fa-trash" aria-hidden="true"></i>删除
                </button>
            </div>
        </div>

        <div class="ibox-content">
            <div class="jqGrid_wrapper">
                <table id="table_list"></table>
                <div id="pager_list"></div>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="cashier:record:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="cashier:record:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="cashier:record:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/cashier/record/record.js"></script>
</body>
</html>