<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="">
    <div class="col-sm-12">
        <div class="ibox">
            <form id="data_form"><!-- FORM提交数据用 -->
                <div class="ibox-title">
                    <div class="form-inline">
                        <div class="input-group col-md-2">
                            <span class="input-group-addon"><span style="color:red">*</span>店铺: </span>
                            <select data-placeholder="请选择" name="shopNo" id="shopNo" class="form-control">
                            </select>
                        </div>
                        <div class="input-group col-md-2">
                            <span class="input-group-addon"><span style="color:red">*</span><span th:text="(${billType=='CW_SK_ORDER'} ? '客户: ' : '供应商: ')"></span></span>
                            <select data-placeholder="请选择" name="debtorId" id="debtorId" class="form-control">
                                <option value="">选择客户</option>
                            </select>
                            <span class="input-group-btn"> <button type="button" class="btn btn-white" onclick="addHead()">...</button> </span>
                        </div>

                        <div class="input-group col-md-2">
                            <span class="input-group-addon"><span style="color:red">*</span><span th:text="(${billType=='CW_SK_ORDER'} ? '收款人:' : '付款人:')"> </span></span>
                            <select data-placeholder="请选择" name="checkId" id="checkId" class="form-control">
                                <option value="">选择收款人</option>
                            </select>
                        </div>

                        <div class="input-group date col-md-2">
                            <span class="input-group-addon"><span style="color:red">*</span>单据日期: </span>
                            <input  id="date_1" type="text" data-type="datepicker" name="billDate" class="form-control" autocomplete="off">
                        </div>

                        <input type="hidden" id="billType" name="billType" th:value="${billType}">
                        <input type="hidden" id="billNo" name="billNo" class="form-control">
                        <div class="input-group pull-right">
                            <span class="input-group-addon" name="billNo">单据编号:</span>
                        </div>
                    </div>
                </div>

                <div class="ibox-content util-ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list"></table>
                    </div>

                    <div class="util-hr-line"></div>

                    <div class="jqGrid_wrapper">
                        <table id="table_list1"></table>
                    </div>

                    <div id="mask"></div>

                    <div class="m-t-sm">
                        <textarea name="remark" class="form-control" placeholder="备注..."></textarea>
                    </div>

                    <div class="row m-t-sm">
                        <div class=" form-inline">
                            <div class="form-group col-md-3">
                                <label class="util-form-label">整单折扣：</label>
                                <input type="number" placeholder="整单折扣" name="discountAmount" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ibox-content util-ibox-content row m-n">
                <div class="columns pull-right">
                    <a shiro:hasPermission="rp:entry:add" class="btn btn-primary btn-rounded" href="#" onclick="save(1)">保存并新增</a>
                    <a shiro:hasPermission="rp:entry:add" class="btn btn-success btn-rounded" href="#" onclick="save()">保存</a>
                    <a shiro:hasPermission="rp:entry:add" class="btn btn-warning btn-rounded" href="#" onclick="audit(0)">审核</a>
                    <a shiro:hasPermission="rp:entry:add" class="btn btn-info btn-rounded" href="#" onclick="listOrder()">历史单据</a>
                    <a shiro:hasPermission="rp:entry:add" class="btn btn-primary btn-rounded" href="#" onclick="addNewOrder()">新增</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="rp:entry:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="rp:entry:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="rp:entry:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/rp/entry/entry.js"></script>
</body>
</html>