<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class=" ">
		<div class="col-sm-12">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <form id="search">
                        <div class="columns pull-left col-md-2 nopadding">
                            <input id="searchText" name="searchText" type="text" class="form-control"  placeholder="请输入操作名称或方法">
                        </div>

                        <div class="input-daterange input-group columns pull-left" style="margin-left: 5px; width: 300px;" id="datepicker">
                            <span class="input-group-addon tool-span-addon">日期：</span>
                            <input type="text" class="form-control" name="start" />
                            <span class="input-group-addon tool-span-addon">-</span>
                            <input type="text" class="form-control" name="end" />
                        </div>

                        <div class="input-group columns pull-left tool-pull-left">
                            <select data-placeholder="选择用户" name="userId" id="userId" class="form-control">
                                <option value="">选择用户</option>
                            </select>
                        </div>
                    </form>

                    <div class="columns pull-left tool-pull-left">
                        <button class="btn btn-success" onclick="search()">查询</button>
                    </div>

                    <div class="columns pull-right">
                        <button type="button" class="btn  btn-danger" onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="exampleTable" data-mobile-responsive="true">
                        </table>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/common/log/log.js"></script>
</body>
</html>