<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.modular.system.dao.MenuDao">

	<select id="listMenuByUserId" resultType="com.bootdo.modular.system.domain.MenuDO">
		SELECT DISTINCT
			sys_menu.menu_id,
			parent_id,
			name,
			url,
			perms,
			`type`,
			icon,
			order_num,
			gmt_create,
			gmt_modified
		FROM
			sys_menu
			LEFT JOIN sys_role_menu ON sys_menu.menu_id = sys_role_menu.menu_id
			LEFT JOIN sys_user_role ON sys_role_menu.role_id = sys_user_role.role_id
		WHERE
			  sys_user_role.user_id = #{id}
		  AND sys_menu.type IN (0, 1)
		ORDER BY
			sys_menu.order_num
	</select>

	<select id="listUserPerms" resultType="string">
		SELECT DISTINCT
			sys_menu.perms
		FROM
			sys_menu
			LEFT JOIN sys_role_menu ON sys_menu.menu_id = sys_role_menu.menu_id
			LEFT JOIN sys_user_role ON sys_role_menu.role_id = sys_user_role.role_id
		WHERE
			sys_user_role.user_id = #{id}
	</select>

</mapper>