<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">
    <div class="col-sm-12">
        <div class="ibox-body">
            <div class="fixed-table-toolbar">
                <form id="search">
                    <div class="columns pull-left col-md-2 nopadding">
                        <input type="text" class="form-control" name="searchText" placeholder="请输入单据号或源单据号或备注" autocomplete="off">
                    </div>

                    <div class="input-daterange input-group columns pull-left" style="margin-left: 5px; width: 300px;" id="datepicker">
                        <span class="input-group-addon tool-span-addon">日期：</span>
                        <input type="text" class="form-control" name="start" autocomplete="off"/>
                        <span class="input-group-addon tool-span-addon">-</span>
                        <input type="text" class="form-control" name="end" autocomplete="off"/>
                    </div>

                    <div class="input-group columns pull-left tool-pull-left-sm">
                        <select data-placeholder="请选择" name="shopNo" id="shopNo" class="form-control">
                        </select>
                    </div>
                    
                    <div class="input-group columns pull-left tool-pull-left-sm">
                        <select data-placeholder="请选择" name="checkId" id="checkId" class="form-control">
                            <option value="" th:text="(${billType=='CW_SK_ORDER'} ? '收款人员' : '付款人员')">收款人员</option>
                        </select>
                    </div>

                    <div class="input-group columns pull-left tool-pull-left-sm">
                        <select data-placeholder="请选择" name="auditStatus" id="auditStatus" class="form-control">
                            <option value="">审核状态</option>
                        </select>
                    </div>

                    <input type="hidden" id="billType" name="billType" th:value="${billType}">
                </form>

                <div class="columns pull-left tool-pull-left-sm">
                    <button class="btn btn-success" onclick="search()">查询</button>
                    <button class="btn btn-success" onclick="exportExcel()">导出</button>
                </div>

                <div class="columns pull-right">
                    <button shiro:hasPermission="rp:order:add" type="button" class="btn  btn-primary" onclick="add()" >
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button shiro:hasPermission="rp:order:audit" type="button" class="btn  btn-primary" onclick="audit(0)">
                        <i class="fa fa-check" aria-hidden="true"></i>审核
                    </button>
                    <button shiro:hasPermission="rp:order:audit" type="button" class="btn  btn-primary" onclick="audit(1)">
                        <i class="fa fa-reply" aria-hidden="true"></i>反审核
                    </button>
                    <button shiro:hasPermission="rp:order:remove" type="button" class="btn  btn-danger" onclick="remove()">
                        <i class="fa fa-trash" aria-hidden="true"></i>删除
                    </button>
                </div>
            </div>

            <div class="ibox-content">
                <div class="jqGrid_wrapper">
                    <table id="table_list"></table>
                    <div id="pager_list"></div>
                </div>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
    <div>
        <script type="text/javascript">
            var s_edit_h = 'hidden';
            var s_remove_h = 'hidden';
            var s_resetPwd_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="rp:order:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="rp:order:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
    <div shiro:hasPermission="rp:order:resetPwd">
        <script type="text/javascript">
            var s_resetPwd_h = '';
        </script>
    </div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/rp/order/order.js"></script>
</body>
</html>