<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="">
    <div class="col-sm-12">
        <div class="ibox">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="ibox-content util-ibox-content">
                    <div class="row m-t-sm">
                        <div class="input-daterange input-group columns pull-left" style="margin-left: 5px; width: 300px;" id="datepicker">
                            <span class="input-group-addon tool-span-addon">单据日期：</span>
                            <input type="text" class="form-control" name="start" autocomplete="off"/>
                            <span class="input-group-addon tool-span-addon">-</span>
                            <input type="text" class="form-control" name="end" autocomplete="off"/>
                        </div>
                        <div class="input-group columns">
                            <span class="input-group-addon tool-span-addon">店铺: </span>
                            <select data-placeholder="请选择" name="shopNo" id="shopNo" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div id="dropzSe" class="dropzone" style="height: 200px; overflow: auto"></div>
                    </div>
                </div>
            </form>
            <div class="ibox-content util-ibox-content row m-n">
                <div class="columns pull-right">
                    <a shiro:hasPermission="po:entry:save" class="btn btn-primary btn-rounded" href="#" id="submit">导入订单</a>
                    <a shiro:hasPermission="po:entry:save" class="btn btn-primary btn-rounded" href="#" id="cancel">清除文件</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/se/order/import.js">
</script>
</body>
</html>
