<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">
<!--<div class=" ">-->
<div class="col-sm-12">
    <!--<div class="ibox">-->
    <div class="ibox-body">
        <div class="fixed-table-toolbar">
            <form id="search">
                <div class="columns pull-left col-md-2 nopadding">
                    <input type="text" class="form-control" name="searchText" placeholder="请输入单据号或客户或备注" autocomplete="off">
                </div>

                <div class="input-daterange input-group columns pull-left" style="margin-left: 5px; width: 300px;" id="datepicker">
                    <span class="input-group-addon tool-span-addon">日期：</span>
                    <input type="text" class="form-control" name="start" autocomplete="off"/>
                    <span class="input-group-addon tool-span-addon">-</span>
                    <input type="text" class="form-control" name="end" autocomplete="off"/>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="请选择" name="shopId" id="shopId" class="form-control">
                        <option value="">店铺</option>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="请选择" name="consumerId" id="consumerId" class="form-control">
                        <option value="">客户</option>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="请选择" name="billSource" id="billSource" class="form-control">
                        <option value="">来源</option>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="请选择" name="status" id="status" class="form-control">
                        <option value="">收款状态</option>
                    </select>
                </div>

                <div class="input-group columns pull-left tool-pull-left-sm">
                    <select data-placeholder="请选择" name="audit" id="audit" class="form-control">
                        <option value="">审核状态</option>
                    </select>
                </div>
            </form>

            <div class="columns pull-left tool-pull-left-sm">
                <button class="btn btn-sm btn-success" onclick="search()">查询</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" onclick="importExcel()">导入</button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="exportExcel()">导出</a></li>
                        <li><a href="#" onclick="exportExcelTpl()">模板下载</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>
            </div>

            <div class="columns pull-right">
                <button shiro:hasPermission="se:order:add" type="button" class="btn btn-sm btn-primary" onclick="add('/se/entry')" href="/se/entry">
                    <i class="fa fa-plus" aria-hidden="true"></i>添加
                </button>
                <button shiro:hasPermission="se:order:audit" type="button" class="btn btn-sm btn-primary" onclick="audit(0)">
                    <i class="fa fa-check" aria-hidden="true"></i>审核
                </button>
                <button shiro:hasPermission="se:order:audit" type="button" class="btn btn-sm btn-primary" onclick="audit(1)">
                    <i class="fa fa-reply" aria-hidden="true"></i>反审核
                </button>
                <button shiro:hasPermission="se:order:remove" type="button" class="btn btn-sm btn-danger" onclick="remove()">
                    <i class="fa fa-trash" aria-hidden="true"></i>删除
                </button>
            </div>
        </div>

        <div class="ibox-content">
            <div class="jqGrid_wrapper">
                <table id="table_list"></table>
                <div id="pager_list"></div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="se:order:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="se:order:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="se:order:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
<!--</div>-->
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/se/order/order.js"></script>
</body>
</html>