<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.modular.cashier.dao.JournalDao">

    <!-- 年经营现金流 -->
    <select id="generalFlowYear" resultType="com.bootdo.modular.cashier.result.JournalGeneralResult$OperateItem">
        SELECT
            DATE_FORMAT(a.bill_date, '%Y')             as year,
            count(1)                                   as totalQty,
            sum(a.entry_amount)                        as entryAmount,
            sum(a.discount_amount)                     as discountAmount,
            sum(a.final_amount)                        as finalAmount,
            sum(a.total_amount)                        as totalAmount,
            sum(a.payment_amount)                      as paymentAmount,
            sum(a.cost_amount)                         as costAmount,
            sum(a.`total_amount` - a.`payment_amount`) AS debtAmount,
            sum(a.`payment_amount` - a.`cost_amount`)  AS netAmount,
            sum(a.`total_amount` - a.`cost_amount`)    AS profitAmount
        FROM
            se_order a
        <where>
            <if test="param.start != null and param.end != null">
                and bill_date >= #{param.start} and bill_date <![CDATA[ <= ]]> #{param.end}
            </if>
            and audit_status = 'YES'
            and a.total_amount - a.cost_amount > 0
        </where>
        GROUP BY
            DATE_FORMAT(a.bill_date, '%Y')
    </select>

    <!-- 月经营现金流 -->
    <select id="generalFlowMonth" resultType="com.bootdo.modular.cashier.result.JournalGeneralResult$OperateMonthItem">
        SELECT
            DATE_FORMAT(a.bill_date, '%Y-%m')          as year,
            count(1)                                   as billCount,
            sum(a.total_qty)                           as totalQty,
            sum(a.total_amount)                        as totalAmount,
            sum(a.payment_amount)                      as paymentAmount,
            sum(a.cost_amount)                         as costAmount,
            sum(a.`total_amount` - a.`payment_amount`) AS debtAmount,
            sum(a.`payment_amount` - a.`cost_amount`)  AS netAmount,
            sum(a.`total_amount` - a.`cost_amount`)    AS profitAmount
        FROM
            se_order a
        <where>
            <if test="param.start != null and param.end != null">
                and bill_date >= #{param.start} and bill_date <![CDATA[ <= ]]> #{param.end}
            </if>
            and audit_status = 'YES'
            and a.total_amount - a.cost_amount > 0
        </where>
        GROUP BY
            DATE_FORMAT(a.bill_date, '%Y-%m')
    </select>

    <!-- 账户现金流水 -->
    <select id="flowRecordList" resultType="java.util.Map">
        SELECT
            DATE_FORMAT(a.trade_time, '%Y') as year,
            account,
            cost_type                       as costType,
            sum(pay_amount)                 as payAmount
        FROM
            cashier_record a
        <where>
            <if test="param.start != null and param.end != null">
                and trade_time >= #{param.start} and trade_time <![CDATA[ <= ]]> #{param.end}
            </if>
            and cost_type != '/' and pay_status not like '%退%'
        </where>
        GROUP BY
            DATE_FORMAT(a.trade_time, '%Y'), account, cost_type
    </select>

    <!-- 欠款明细 -->
    <select id="debtRecordList" resultType="com.bootdo.modular.cashier.result.JournalGeneralResult$DebtItem">
        SELECT
            a.`consumer_id`                                                                                         AS instituteId,
            a.`consumer_name`                                                                                       AS instituteName,
            CONCAT(DATE_FORMAT(MIN(a.`bill_date`), '%Y-%m-%d'), ' - ', DATE_FORMAT(MAX(a.`bill_date`), '%Y-%m-%d')) AS billRegion,
            SUM(a.`total_amount`)                                                                                   AS totalAmount,
            SUM(a.`payment_amount`)                                                                                 AS paymentAmount,
            SUM(a.`total_amount`) - SUM(a.`payment_amount`)                                                         AS debtAmount,
            SUM(a.`cost_amount`)                                                                                    AS costAmount,
            SUM(a.`total_amount`) - SUM(a.`cost_amount`)                                                            AS profitAmount,
            count(1)                                                                                                AS billCount
        FROM
            se_order a
        <where>
            <if test="param.start != null and param.end != null">
                and bill_date >= #{param.start} and bill_date <![CDATA[ <= ]]> #{param.end}
            </if>
            and audit_status = 'YES'
        </where>
        GROUP BY
            consumer_id
        ORDER BY
            debtAmount DESC;
    </select>

</mapper>