<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdo.modular.cashier.dao.RecordDao">

    <sql id="whereSql">
        <where>
            <if test="param.id != null">and id = #{param.id}</if>
            <if test="param.nick != null and param.nick != ''">and nick = #{param.nick}</if>
            <if test="param.account != null and param.account != ''">and account = #{param.account}</if>
            <if test="param.shopNo != null and param.shopNo.size() > 0">and shop_no in
                <foreach collection="param.shopNo" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.type != null and param.type != ''">and type in
                <foreach collection="param.type.split(',')" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.tradeTime != null">and trade_time = #{param.tradeTime}</if>
            <if test="param.tradeClass != null and param.tradeClass != ''">and trade_class in
                <foreach collection="param.tradeClass.split(',')" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.targetName != null and param.targetName != ''">and target_name = #{param.targetName}</if>
            <if test="param.targetAccount != null and param.targetAccount != ''">and target_account in
                <foreach collection="param.targetAccount.split(',')" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.tradeGoods != null and param.tradeGoods != ''">and trade_goods = #{param.tradeGoods}</if>
            <if test="param.tradeType != null and param.tradeType != ''">and trade_type in
                <foreach collection="param.tradeType.split(',')" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.payAmount != null">and pay_amount = #{param.payAmount}</if>
            <if test="param.payDirect != null and param.payDirect != ''">and pay_direct in
                <foreach collection="param.payDirect.split(',')" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.payStatus != null and param.payStatus != ''">and pay_status in
                <foreach collection="param.payStatus.split(',')" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.txnNo != null and param.txnNo != ''">and txn_no = #{param.txnNo}</if>
            <if test="param.bizNo != null and param.bizNo != ''">and biz_no = #{param.bizNo}</if>
            <if test="param.remark != null and param.remark != ''">and remark = #{param.remark}</if>
            <if test="param.costType != null and param.costType != ''">and cost_type in
                <foreach collection="param.costType.split(',')" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="param.source != null and param.source != ''">and source = #{param.source}</if>
            <if test="param.updateTime != null">and update_time = #{param.updateTime}</if>
            <if test="param.start != null">and trade_time >= #{param.start}</if>
            <if test="param.end != null"> <![CDATA[ and trade_time <= #{param.end} ]]> </if>
            <if test="param.searchText != null and param.searchText != ''">and ( nick like '%${param.searchText}%' or account like '%${param.searchText}%' or type like '%${param.searchText}%' or tradeGoods like '%${param.searchText}%')</if>
        </where>
    </sql>

    <select id="list" resultType="com.bootdo.modular.cashier.domain.RecordDO">
        select
            *
        from
            cashier_record
        <include refid="whereSql"/>
        ORDER BY trade_Time DESC
    </select>

    <select id="selectSum" resultType="java.util.Map">
        select
            count(1)                   as totalCount,
            ifnull(sum(pay_amount), 0) as totalAmount
        from
            cashier_record
        <include refid="whereSql"/>
    </select>

    <select id="multiSelect" resultType="com.bootdo.modular.cashier.domain.RecordDO">
        select distinct
            type,
            account,
            pay_status,
            pay_direct,
            trade_class,
            source,
            cost_type
        from
            cashier_record
        <include refid="whereSql"/>
    </select>

</mapper>

