<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{include :: header}"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <button sec:authorize="hasAuthority('sys:menu:add')" type="button" class="btn btn-primary" onclick="add('0')">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button sec:authorize="hasAuthority('sys:menu:batchRemove')" type="button" class="btn btn-danger" onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                </div>

                <table id="exampleTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{include :: footer}"></div>
<script type="text/javascript" th:src="@{/js/appjs/system/menu/menu.js}"></script>
</body>
</html>