<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--bootstrap -->
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <!--layui -->
    <link href="/js/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="/css/plugins/jqTreeGrid/jquery.treegrid.css" rel="stylesheet">
    <!--summernote -->
    <link href="/css/plugins/summernote/summernote.min.css" rel="stylesheet">
    <!--select -->
    <link href="/css/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <!-- date -->
    <link href="/css/plugins/datepicker/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/css/plugins/datetimepicker-2.3.8/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- jqgrid-->
    <link href="/css/plugins/jqgrid/ui.jqgrid.css" rel="stylesheet">
    <!-- dropzone -->
    <link href="/css/plugins/dropzone/dropzone.css" rel="stylesheet">

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/utils.css}" rel="stylesheet">
</head>
<div th:fragment="footer">
    <!-- jquery -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/jquery/jquery.serializeObject.js"></script>
    <script src="/js/jquery/validation/jquery.validate.min.js"></script>
    <script src="/js/jquery/validation/localization/messages_zh.min.js"></script>
    <!-- bootstrap -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/bootstrap-tooltip-auto-init.js"></script>
    <!-- layui -->
    <script src="/js/layui/layui.js"></script>
    <!-- lodash -->
    <script src="/js/lodash/lodash.min.js"></script>

    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/js/plugins/jsTree/jstree.min.js"></script>
    <script src="/js/plugins/jqTreeGrid/jquery.treegrid.min.js"></script>
    <script src="/js/plugins/jqTreeGrid/jquery.treegrid.extension.js"></script>
    <script src="/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js"></script>
    <!--select-->
    <script src="/js/plugins/bootstrap-select/bootstrap-select.js"></script>
    <!-- math.js -->
    <script src="/js/plugins/math/math.min.js"></script>
    <!--summernote-->
    <script src="/js/plugins/summernote/summernote.min.js"></script>
    <script src="/js/plugins/summernote/lang/summernote-zh-CN.min.js"></script>

    <script src="/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/js/plugins/datepicker/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/js/plugins/datetimepicker-2.3.8/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/plugins/datetimepicker-2.3.8/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- Peity -->
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <!-- jqGrid -->
    <script src="/js/plugins/jqgrid/i18n/grid.locale-cn.js"></script>
    <script src="/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <!-- blockUI -->
    <script src="/js/plugins/blockui/jquery.blockUI.min.js"></script>
    <!-- dropzone -->
    <script src="/js/plugins/dropzone/dropzone.js"></script>

    <script th:src="@{/js/utils.js}"></script>
</div>
