<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="ibox-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-body jqGrid_wrapper">
                <table id="table_list"></table>
                <div id="pager_list"></div>
            </div>
        </div>
    </div>
</div>


<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/engage/product/balanceEntry.js"></script>
</script>
</body>
</html>
