<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/plugins/iCheck/custom.css" />
	<link rel="stylesheet" href="/css/plugins/cropper/cropper.css" />
	<link rel="stylesheet" href="/css/plugins/datepicker/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" href="/css/gg-bootdo.css" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<div th:fragment="footer">
	<script type="text/javascript" src="/js/jquery/jquery.min.js" ></script>
	<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="/js/plugins/datepicker/bootstrap-datepicker.zh-CN.min.js"></script>
	<script type="text/javascript" src="/js/plugins/iCheck/icheck.min.js"></script>
	<script type="text/javascript" src="/js/plugins/cropper/cropper.min.js"></script>
	<script type="text/javascript" src="/js/plugins/distpicker/distpicker.data.min.js"></script>
	<script type="text/javascript" src="/js/plugins/distpicker/distpicker.min.js"></script>
	<script type="text/javascript" src="/js/appjs/system/user/gg-bootdo.js"></script>
	<!--校验插件-->
	<script src="/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="/js/plugins/validate/jquery.validate.extend.js"></script>
	<script src="/js/plugins/validate/messages_zh.min.js"></script>
	<!--其他-->
	<script th:src="@{/js/utils.js}"></script>
</div>
